<ng-template [ngIf]="!isReady" [ngIfElse]="ready">
  <app-loader></app-loader>
</ng-template>
<ng-template #ready>
  <div class="container">
    <app-hollow-title [title]="title"></app-hollow-title>
    <div class="stats">
      <app-stat-box label="Number of entries" [value]="numberOfEntries"></app-stat-box>
      <app-stat-box label="Total number of medals" [value]="numberOfMedals"></app-stat-box>
      <app-stat-box label="Total number of athletes" [value]="numberOfAthletes"></app-stat-box>
    </div>
    <ngx-charts-line-chart
      *ngIf="(lineChartData$ | async) as data"
      [results]="data"
      [legend]="false"
      [view]="[windowWidth,400]"
      [xAxisLabel]="xAxisLabel"

      [showYAxisLabel]="true"
      [xAxis]="true"
      [yAxis]="true"
      [showXAxisLabel]="true"
    ></ngx-charts-line-chart>
    <button class="back-button" (click)="goBack()">← Back</button>
  </div>
</ng-template>
